#background {
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: deepskyblue;
    z-index: -20;
}

#personagens {
    z-index: 0;
}

#layer1 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer2 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer3 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer4 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer5 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer6 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer7 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#layer8 {
    margin: 0;
    padding: 0;
    width: 10500px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}