* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; /*maria*/
    margin: auto;
}

/*adicioonei isto - maria */
#main {
    background-image: url("../imagens/bg/bg_01_final-01.png");
    background-repeat: repeat-x;
    height: 600px;
    width: 1000px;
    margin: auto;
}

#ecraInicial {
    background-image: url("../imagens/bg/bg_05_final-01.png");
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

#opcoes {
    background-color: #FFA631;
    height: 500px;
    width: 400px;
    margin-left: 300px;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 20px;
}

#fechar_btn {
    float: right;
    margin: 10px;
}

#opcoes h1 {
    clear: right;
    text-align: center;
    font-weight: normal;
}

#opcoes div {
    margin-left: 50px;
}

#opcoes table {
    margin-left: 60px;
    margin-top: 50px;
}

#opcoes td {
    text-align: right;
}

#opcoes th {
    text-align: left;
}

#changelevel {
    visibility: hidden;
    background-color: black;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#changelevel h1 {
    color: white;
    font-size: 200px;
    position: absolute;
    top: 45%;
    left: 45%;
}

/*--------Acrescentei isto - Daniel - MODO AVENTURA -------------*/
/*----------ZONA DE HP--------------------*/
#vidaBar {
    position: absolute;
    height: 50px;
    width: 400px;
    vertical-align: middle;
    top: 0;
    left: 10px;
    z-index: 998;
    color: white;
}

/*----------barra de vida---------------*/
#myProgress {
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 25px;
    left: 50px;
    border: 3px solid black;
    border-radius: 20px;
    z-index: 998;
}

#myBar {
    width: 100%;
    height: 30px;
    background-color: green;
    border-radius: 20px;
    z-index: 998;
}

/*-----------ZONA DE Nº DE VIDAS--------*/
#numVidas {
    position: absolute;
    height: 50px;
    width: 400px;
    top: 75px;
    left: 10px;
    z-index: 998;
}

#numVidas h1 {
    display: inline;
    color: white;
}

#vida1Img {
    display: inline;
    left: 115px;
    top: -5px;
    height: 50px;
    width: 50px;
}

#vida2Img {
    display: inline;
    left: 165px;
    top: -5px;
    height: 50px;
    width: 50px;
}

#vida3Img {
    display: inline;
    left: 215px;
    top: -5px;
    height: 50px;
    width: 50px;
}

/*---PONTUAÇÃO-----*/
#pontuacao {
    position: absolute;
    right: 10px;
    z-index: 998;
    color: white;
}

/*-----Nº NÍVEL-------*/
#numNivel {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 998;
    color: white;
}

/*-------------------ATÉ AQUI - DANIEL --------------------*/

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#modoBatalha {
    position: fixed;
    width: 200px;
    height: 70px;
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    left: 0;
    z-index: 997;
}

#modoBatalha table {
    margin-left: 50px;
    color: white;
    border-spacing: 10px;
}

#modoBatalha th {
    text-align: left;
}

#setaOpcao {
    position: absolute;
    left: 45px;
    z-index: 998;
}

/*maria sprites--------------*/

#spriteazul {
    width: 10%;
    height: 10%;
}

#spriteverde {
    width: 10%;
    height: 10%;
}

#spritedourado {
    width: 10%;
    height: 10%;
}

#lixo {
    width: 12%;
    height: 12%;
}

#pedra1 {
    width: 11%;
    height: 11%;
}

#pedra2 {
    width: 11%;
    height: 11%;
}

#tronco {
    width: 35%;
    height: 35%;
}

/*mariaaaaaaaaaaaaaa*/

#logo {
    position: absolute;
    top: 10%;
    left: 39.5%;
}

#logo_ecrajogo {
    position: absolute;
    top: 10%;
    left: 35%;
}

#logo_ecramenuprincipal {
    position: absolute;
    top: 10%;
    left: 35%;
}

#historia {
    display: block;
    width: 100%;
    height: 100%;
}

#seta {
    position: absolute;
    left: 947px;
    top: 567px;
    width: 4%;
    height: 4%;
}

#pausa_play {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 885px;
    top: 20px;
}

/* AQUI RICARDO*/
#fimJogo {
    background-color: #FFA631;
    height: 600px;
    width: 1000px;
    margin: auto;
}

#fimJogo h1 {
    position: absolute;
    top: 330px;
    left: 385px;
}

#fimJogo img {
    z-index: 999;
    position: absolute;
    top: 50px;
}